@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;600&display=swap');


/* RESET CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playpen Sans', cursive;
    font-size: 20px;
}

body{
    background-color: #000;
    color: #FFF;
}
/* END RESET CSS */

/* HOME */
.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.words {
    text-align: center;
    margin-bottom: 20px;
}

.words p {
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
}

.words p:hover {
    color: chocolate;
    transform: scale(1.1);
}

.image-container {
    max-width: 100%;
    height: auto;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 600px) {
    .home {
        flex-direction: row;
    }

    .words {
        text-align: left;
    }
}

/* END HOME */

/* ******************************* */

/*ABOUT ME */

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    width: 100%; /* Ocupa todo el ancho disponible */
}

.image-container {
    margin-top: 20px; /* Agregado espacio entre el título y la imagen */
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    max-width: 80%;
    margin: 20px auto; /* Ajustado el margen para centrar */
}

p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.resume-link {
    display: block;
    margin-top: 20px;
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

/* END ABOUT ME */

/* ******************************* */

/* PROYECTOS */
#proyectos {
    background-color: #FFF;
    height: 100%;
}

#proyectos h2 {
    text-align: center;
    margin-bottom: 20px;
}

#proyectos .contenido {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#proyectos .contenido .item {
    width: 25%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    margin: 0 10px;
    transition: .7s;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(../img/Seb\ -\ Impresionismo.png);
}

#proyectos .contenido .item:hover {
    width: 50%;
}

#proyectos .contenido .overlay {
    position: absolute;
    background: linear-gradient(to bottom, transparent 80%, rgba(0,0,0,.7));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#proyectos .contenido .item .titulo {
    position: absolute;
    bottom: -40px;
    letter-spacing: 2px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-style: 20px;
    background-color: rgba(0,0,0,.7);
    padding: 10px 0;
    width: 100%;
    opacity: 0;
    transition: .3s;
    border-radius: 8px;
}

#proyectos .contenido .item:hover .titulo {
    opacity: 1;
    bottom: -20px;
}
/* END PROYECTOS */

  /* ******************************* */

/* FORM */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color: #000;
    color: #FFF;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
  
input[type=submit]:hover {
    background-color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    color: peru;
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}
  
.form {
    display: flex;
    justify-content: center;
    margin: auto;
	max-width: 50%;
	height: 80vh;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px;
}
/* END FORM */

/* ******************************* */

/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 60px 0px 40px 0px;
    background-color: #000;

  }
  
  .footer a{
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    margin: .5rem;
    color: #FFF;
    background-color: #FFF;
    padding:.5rem .73rem;
    border-radius: 25%;
  }

  body.dark .footer a {
    color: #FFF;
    background-color: #000;
  }
  /* END FOOTER */